/* Styles pour l'en-tête de l'encherisseur */
.encherisseur-header {
    text-align: center;
    background: linear-gradient(to right, #FF512F, #DD2476);
    padding: 20px;
    color: white;
    /*animation: pulse 1.5s infinite alternate;*/
    background-image: url('../images/encherisseur.jpg');
}
/* Styles pour l'en-tête du commissaire */
.commissaire-header {
    text-align: center;
    background: linear-gradient(to right, #FF512F, #DD2476);
    padding: 20px;
    color: white;
    /*animation: pulse 1.5s infinite alternate;*/
    background-image: url('../images/commissaire2.jpg');
}
/*
@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}
*/

/* Styles pour les informations*/
.commissaire-priseur-info,
.enchere-form,
.welcome-message,
.bidder-info {
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Style pour les boutons */
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Style pour chaque bouton */
.buttons button {
    border: none;
    color: white;
    cursor: pointer;
    padding: 20px 20px; /* Ajustement de la taille du bouton */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    transition-duration: 0.4s;
    margin: 0 4px;
}

/* Style spécifique pour le bouton de démarrage */
.button-start img,
.button-commissaire img {
    width: 40px; /* Ajustement de la taille de l'image */
    height: 40px; /* Ajustement de la taille de l'image */
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajustement de l'ombre */
}

/* Hover effet pour les boutons */
.buttons button:hover {
    background-color: #45a049;
}



/* Styles pour la page d'accueil */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Styles pour l'en-tête de la page d'accueil */
header h1{
    background-color: #A2A28B;
    text-align: center;
    padding: 20px;
    color: white;
    /*animation: pulse 1.5s infinite alternate;*/
}


/* Styles pour la section principale */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5dc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}


/* Style pour les liens de retour à l'accueil */
.retour-accueil {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
